<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoWbhvVPr4NBB8WLZN4nWoIoPOMhVLFcU</string>
	<key>GCM_SENDER_ID</key>
	<string>480687329487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-auth-2567f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-auth-2567f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480687329487:ios:fc1ace9f4a7f46fdd3a7ba</string>
</dict>
</plist>